*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#dotted-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-width: 5px;
  border-color: mediumblue;
  border-style: solid solid dotted dotted;
  width: 100px;
  height: 100px;
  -webkit-animation: rotate-right 2s linear infinite;
  animation: rotate-right 2s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

@keyframes rotate-right {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

#dotted-loader::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-width: 5px;
  border-style: solid dotted;
  border-color: darkcyan;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: rotate-left 1s linear infinite;
  animation: rotate-left 1s linear infinite;
}

@keyframes rotate-left {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
    -moz-transform: rotate(-1turn);
    -ms-transform: rotate(-1turn);
    -o-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
